.worldwide-wrapper {
  background: rgba(1, 151, 178, 0.1);
}

.world-wid-text>h1 {
  color: #303030;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.worldwid-text>p {
  color: #303030;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.world-wid-text {
    padding: 100px 0;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 0.8em;
    overflow: visible;
    vertical-align: -0.125em;
  }

  .world-wid-text button {
    background-color: transparent;
    border: 2px solid #0197b2;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
  }

  .world-wid-text button a {
    text-decoration: none;
    color: #303030;
    font-weight: 700;
  }

  .global-image img{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 206px;
  }

  .flag-content{
    position: relative;
    list-style: none;
  }
  @media (max-width: 768px) {
    .world-wid-text>h1 {
      font-size: 28px;
    }
  }
  
 





