
.text-3xl {
    font-size: 2rem; /* Modify this based on your design preferences */
}

.card {
    border-radius: 0.5rem;
}

.card h1 {
    font-size: 40px;
}

.card img {
    float: right !important;
}

.float-end {
    float: right !important;
}

.card-head {
    display: flex;
}


.display-4 {
    font-weight: 800;
}

.fw-bold {
    font-weight: 800;
}

.header-container {
    text-align: center;
  }
  
  .small-header {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  
  .big-header {
    color: #01161d;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .w-42 {
    width: 42% !important;
}

.sectionHeaderText {
    margin-bottom: 20px;
    margin-top: 25px;
    display: flex;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    color: #0197B2;
}

.thirdSectionSmallText {
    font-weight: 500;
    font-size: 17px;
    line-height: 170%;
    letter-spacing: .01em;
    color: #303030;
    width: 86%;
}

.thirdRightHeader {
    font-weight: 500;
    font-size: 32px;
    color: #01161d;
}

.HowItWorks-wrapper span  {
    color: #ea8207;
    font-size: 40px;
}

