.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}





.bg-body-tertiary{
  padding: 0 !important;
  background-color: transparent !important;
}

.logo {
  width: 100px;
  height: 28px;
  margin-top: 12px;
}

nav .botton-primary {
  border-radius: 30px;
  padding: 12px 20px;
}

nav .header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #303030;
  margin-top: 12px;
}

nav .header-menu > a:hover {
  cursor: pointer;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
  color: #0197b2 !important;
  font-weight: 700;
}

nav .header-menu > a {
  text-decoration: none;
  color: #303030;
}
