.faq-section h1 {
  color: #212121;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq-section .small-text {
  color: rgba(93, 93, 93, 0.7);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  .accordion {
    margin: 3rem 7rem;
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion .accordion-title {
    padding: 1em 1.5em 1em 1.5em;
    color: #303030;
  }
  
  .accordion .icon {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 22px;
    height: 22px;
    color: #0197B2;
  }
  
  .accordion .icon::before,
  .accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    background: currentColor;
  }
  
  .accordion .icon::before {
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
  }
  
  .accordion .icon::after {
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #03b5d2;
  }
  
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  
  .accordion .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.2s, max-height 0.2s;
    opacity: 0;
    margin-left: 40px;
}

  
  .accordion .accordion-content p {
    color:  rgba(93, 93, 93, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accordion .accordion-content.show {
    opacity: 1;
    max-height: 200px; 
    padding-left: 10px;
    position: relative;  
}

.accordion .accordion-content.show::before {
    content: '';
    position: absolute;
    top: 29%;  
    left: 0;
    transform: translateY(-50%);  
    height: 63%;  
    width: 2px;
    background-color: #0197B2;
}

.accordion-item {
    border: none !important;
}

@media (max-width: 768px) {
  .accordion {
    margin: 0px;
  }
}
